@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 130 60% 97%;
    --foreground: 179 25% 25%;
    --card: 0 0% 100%;
    --card-foreground: 179 25% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 179 25% 25%;
    --primary: 179 30% 40%;
    --primary-foreground: 130 60% 97%;
    --secondary: 125 33% 90%;
    --secondary-foreground: 179 25% 25%;
    --muted: 125 30% 94%;
    --muted-foreground: 179 25% 45%;
    --accent: 179 20% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 125 20% 88%;
    --input: 125 20% 92%;
    --ring: 179 30% 40%;
    --radius: 0.5rem;
    --chart-1: 179 30% 40%;
    --chart-2: 125 33% 74%;
    --chart-3: 179 20% 54%;
    --chart-4: 125 30% 60%;
    --chart-5: 179 25% 70%;
  }

  .dark {
    --background: 180 10% 10%;
    --foreground: 130 40% 95%;
    --card: 180 10% 12%;
    --card-foreground: 130 40% 95%;
    --popover: 180 10% 10%;
    --popover-foreground: 130 40% 95%;
    --primary: 179 30% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 10% 20%;
    --secondary-foreground: 130 40% 95%;
    --muted: 180 10% 20%;
    --muted-foreground: 130 40% 75%;
    --accent: 179 20% 64%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 10% 25%;
    --input: 180 10% 25%;
    --ring: 179 30% 50%;
    --chart-1: 179 30% 50%;
    --chart-2: 125 33% 64%;
    --chart-3: 179 20% 64%;
    --chart-4: 125 30% 50%;
    --chart-5: 179 25% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
